{% load static %}
<script src="{% static 'js/backend-bundle.min.js' %}"></script>

<!-- Chart Custom JavaScript -->
<script src="{% static 'js/customizer.js' %}"></script>

<!-- Fullcalender Javascript -->
<script src="{% static 'js/core/main.js' %}"></script>
<script src="{% static 'js/daygrid/main.js' %}"></script>
<script src="{% static 'js/timegrid/main.js' %}"></script>
<script src="{% static 'js/list/main.js' %}"></script>
<script src="{% static 'js/interaction/main.js' %}"></script>

<!-- app JavaScript -->
<script src="{% static 'js/app.js' %}"></script>