{% load static %}
<!-- Favicon -->
<link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" />

<link rel="stylesheet" href="{% static 'css/backend-plugin.min.css' %}">
<link rel="stylesheet" href="{% static 'css/backend.css' %}">
<link rel="stylesheet" href="{% static 'css/all.min.css' %}">
<link rel="stylesheet" href="{% static 'css/line-awesome.min.css' %}">
<link rel="stylesheet" href="{% static 'css/remixicon.css' %}">    <!-- Fullcalender CSS -->
<link rel='stylesheet' href="{% static 'css/core/main.css' %}" />
<link rel='stylesheet' href="{% static 'css/daygrid/main.css' %}" />
<link rel='stylesheet' href="{% static 'css/timegrid/main.css' %}" />
<link rel='stylesheet' href="{% static 'css/list/main.css' %}" />
